

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}


html {
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
	font-size: 99.9%;
}


nav {
    
    height: 56px;
    padding: 0 10px;
    font-size: clamp(1.5rem, 2.0vw, 4rem); 
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(15, 15, 15);
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

}


.green-background {
    background-color: green;
    color: white; /* Optional: Set text color to white for better visibility */
    padding: 20px; /* Optional: Add padding to the element for better appearance */
}



/* page content */
h1, h2 {
  color: white;
  font-family: Segoe UI;
  font-weight: regular;
  text-align: right;
  cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
	
	
}

h1 {
  font-size: 3rem;
  margin-top: 30vh; 
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

	
}






main {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}

#channels {
    flex: 38%;
    
    max-height: calc(100vh - 120px) !important;
    overflow-y: scroll;
    margin-top: 5px;
    margin-left: 0px;
    overflow-x: hidden;
    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}
.channel_collapse {
    margin-top: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}
#player {
    flex: 62%;
    margin: auto 10px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}
.category {
    width: 94%;
    color: rgb(48, 48, 84);
    
    padding: 10px;
    
    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
    font-size: 10px;
    font-weight: regular;
}
.active, .category:hover {
    
    border-radius: 10px;
    color: rgb(255, 255, 255);
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
  }
.category:after {
  content: '\002B';
  font-weight: 100;
  float: right;
  margin-left: 5px;
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}

.active:after {
  content: "\2212";
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

}










::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

	
}

::-webkit-scrollbar
{
	width: 10px;
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

	
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.5);
	background-color: rgb(204, 204, 204);
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

}











.channel {
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    overflow: hidden;
    padding: 7px;
    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}

.channel:active {
    animation: press 0.2s 1 linear;
	cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

}

.channel img {
    width: 106px;
    height: 63px;
    border: 1px solid #555;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 99), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
z-index: -1;
                /* Ensure it stays behind other content */
                border-radius: 50%;
                /* Ensure the border is rounded to create a circular shape */
                
                animation: rainbow-glow 5s linear infinite;
                /* Apply the rainbow glow animation */
                
                position: relative;
                /* Positioning to allow for pseudo-elements */

}
            @keyframes rainbow-glow {
5% {
border-color: red;
}
10% {
border-color: orange;
}
15% {
border-color: yellow;
}
20% {
border-color: green;
}
25% {
border-color: white;
}
30% {
border-color: cyan; /* Insert cyan color at 90% */
}
35% {
border-color: pink;
}
40% {
border-color: blue;
}
45% {
border-color: violet;
}
50% {
border-color: brown;
}
55% {
border-color: black;
}
60% {
border-color: grey;
}
65% {
border-color: purple;
}
70% {
border-color: magenta;
}
75% {
border-color: lime;
}
80% {
border-color: teal;
}
85% {
border-color: indigo;
}
90% {
border-color: amber;
}
95% {
border-color: turquoise;
}
85% {
border-color: chartreuse;
}
80% {
border-color: gold;
}
75% {
border-color: silver;
}
70% {
border-color: rubi;

}
	
}

@media only screen and (max-width: 640px) {
    nav {
        text-align: center;
	    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

    }
    main {
        flex-direction: column-reverse;
	    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

    }
    body {
        overflow-y: auto;
	    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

    }
    #channels {
        height: fit-content;
        overflow-y: unset;
        margin-left: 5px;
        margin-right: 5px;
	    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

    }
    .channel {
        margin-right: 0;
	    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

    }
    #player {
        flex: auto;
        min-width: 192px;
        min-height: 108px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
	    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

    }
}

@keyframes press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.92);
    }
    to {
        transform: scale(1);
	    cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

    }
}
















 <! -- ///////////////////////////////////////////////////////////////////////////////////////////clock-->                		
						<!--Start of clock Script--> 


body {
  font-family: Segoe UI, Helvetica, sans-serif;
  margin: 0;
	 cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

}

html {
  box-sizing: border-box;
	 cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}

*, *:before, *:after {
  box-sizing: inherit;
	 cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
   cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
  margin: 8px;
  cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

}



.container {
  padding: 0 16px;
  cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;

}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, auto;
}



.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  cursor: -webkit-image-set(url("https://homemark22.github.io/curs0rh4ndz2.webp") 1x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 2x, url("https://homemark22.github.io/curs0rh4ndz2.webp") 4x ) 0 0, pointer;
	
  
  width: 100%;
}




 <! -- ///////////////////////////////////////////////////////////////////////////////////////////clock-->                		
						<!--end of clock Script--> 


 <! -- ///////////////////////////////////////////////////////////////////////////////////////////clock-->                		
						<!--Start of dailyverses--> 


.dailyVerses.bibleVerse
{
margin-top: .1em;
}

.dailyVerses.bibleVerse a
{
font-weight: 100;
	
}

 <! -- ///////////////////////////////////////////////////////////////////////////////////////////clock-->                		
						<!--end of dailyverses--> 




 <! -- ///////////////////////////////////////////////////////////////////////////////////////////clock-->                		
						<!--Start of ?--> 
						
@-webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
@-moz-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
@-ms-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
@-o-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));

a:link {
  text-decoration: none;
}

function openPopup(url, width, height) {
// Calculate the position to center the popup window.
const left = (window.innerWidth - width) / 2;
const top = (window.innerHeight - height) / 2;

// Open the pop-up window with the specified URL, width, height, and centered position.
window.open(url, 'popupWindow', `width=${width},height=${height},left=${left},top=${top}`);
}


 <! -- ///////////////////////////////////////////////////////////////////////////////////////////clock-->                		
						<!--end of ?--> 









 <! -- ///////////////////////////////////////////////////////////////////////////////////////////clock-->                		
						<!--Start of button style for black and white mode--> 



/* Basic button styles */
.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light mode button styles */
.toggle-button.light-mode {
    background-color: #3498db;
    color: #fff;
}

/* Dark mode button styles */
.toggle-button.dark-mode {
    background-color: #12171c;
    color: #fff;
}

/* Hover styles */
.toggle-button:hover {
    background-color: #2980b9;
}




 <! -- ///////////////////////////////////////////////////////////////////////////////////////////clock-->                		
						<!--end of of button style for black and white mode--> 

	
