


body {
    transition: background-color 0.5s ease;
}

button {
    background-color: #ffff;
    color: #2c3e50;
    padding: 10px 20px;
    border: #121314;
    cursor: pointer;
}

button:hover {
    background-color: #ffff;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121314;
}

body.dark-mode button {
    background-color: #121314;
    color: #ffff;
}

body.dark-mode button:hover {
    background-color: #121314;
}


    body {
  background-image:  url(https://homemark22.github.io/movieroom.png), url(https://homemark22.github.io/rain.gif);
  background-size: auto, auto, auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: top, top, top;
  background-attachment: fixed;
  background-attachment: fixed;
 
}


