body {
    transition: background-color 0.5s ease;
}

button {
    background-color: #ffff;
    color: #FFCCFF;
    padding: 10px 20px;
    border: #FFCCFF;
    cursor: pointer;
}

button:hover {
    background-color: #ffff;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #FFCCFF;
}

body.dark-mode button {
    background-color: #FFCCFF;
    color: #ffff;
}

body.dark-mode button:hover {
    background-color: #34495e#FFCCFF;
}
